<div class="generic-container">
    <header>
        <div class="container-image">
            <img src="../../assets/images/logo.svg" alt="image" style="width: 75%;">
        </div>
        <div class="container-link">
            <a href="#" style="margin-right: 1rem; color: white;">Features</a>
            <a href="#" style="margin-right: 1rem; color: white;">Team</a>
            <a href="#" style="color: white;">Sign in</a>
        </div>
    </header>
    <div class="container-body">
        <div class="title">
            <img src="../../assets/images/illustration-intro.png" alt="image" 
                style="width: 75%; margin-top: 3rem;">
            
            <h1 align="center">All your files in one secure location,<br>accessible anywhere</h1>
            <p align="center">
                Fylo stores all your most important files in one secure location.<br>
                Access them wherever you need, share and collaborate with<br>
                friends family, and co-workers.
            </p>
            <button>
                Get Started
            </button>
        </div>
        <div class="container-grid">
            <div class="access">
                <img src="../../assets/images/icon-access-anywhere.svg" alt="image">
                <h1 align="center" style="font-size: 15px;">
                    Access your files, anywhere
                </h1>
                <p align="center">
                    The ability to use a smartphone, tablet, or computer<br>
                    to access your account means your files follow you<br>
                    everywhere.
                </p>
            </div>
            <div class="security">
                <img src="../../assets/images/icon-security.svg" alt="image">
                <h1 align="center" style="font-size: 15px;">
                    Security you can trust
                </h1>
                <p align="center">
                    2-factor authentication and user-controlled encryption are<br>
                    just a couple of the security features we allow to help<br>
                    secure your files.
                </p>
            </div>
            <div class="real-time">
                <img src="../../assets/images/icon-collaboration.svg" alt="image">
                <h1 align="center" style="font-size: 15px;">
                    Real-time collaboration
                </h1>
                <p align="center">
                    Securely share files and folders with friends, family and<br>
                    colleagues for live collaboration. No email attachments<br>
                    required.
                </p>
            </div>
            <div class="store">
                <img src="../../assets/images/icon-any-file.svg" alt="image">
                <h1 align="center" style="font-size: 15px;">
                    Store any type of file
                </h1>
                <p align="center">
                    Whether you're sharing holidays photos or work<br>
                    documents, Fylo has you covered allowing for all file<br>
                    types to be securely stored and shared.
                </p>
            </div>
        </div>
        <div class="productive">
            <img src="../../assets/images/illustration-stay-productive.png" alt="image">
            <div class="productive-text">
                <h1>
                    Stay productive,<br>
                    wherever you are
                </h1>
                <p>
                    Never let location be an issue when accessing your files. Fylo has you<br>
                    covered for all of your file storage needs.<br>
                    <br>
                    Securely share files and folders with friends, family and colleagues for live<br>
                    collaboration. No email attachments required.
                </p>
                <a href="#" class="productive-link">See how Fylo works <img src="../../assets/images/icon-arrow.svg" alt="image"></a>
            </div>
        </div>
        <div class="experience">
            <div class="exp-1">
                <div class="exp-1-text">
                    <p>
                        Fylo has improved our team productivity by<br>
                        an order of magnitude. Since making the<br>
                        switch our team has become a well-olled<br>
                        collaboration machine.
                    </p>
                </div>
                <div class="exp-1-avatar">
                    <div>
                        <img src="../../assets/images/profile-1.jpg" alt=""  class="avatar">
                    </div>
                    <div class="avatar-title">
                        <h3>
                            Satish Patel
                        </h3>
                        <h6>
                            Founder & CEO, Huddle
                        </h6>
                    </div>
                </div>
            </div>
            <div class="exp-2">
                <div class="exp-2-text">
                    <p>
                        Fylo has improved our team productivity by<br>
                        an order of magnitude. Since making the<br>
                        switch our team has become a well-olled<br>
                        collaboration machine.
                    </p>
                </div>
                <div class="exp-2-avatar">
                    <div>
                        <img src="../../assets/images/profile-2.jpg" alt=""  class="avatar">
                    </div>
                    <div class="avatar-title">
                        <h3>
                            Bruce McKenzie
                        </h3>
                        <h6>
                            Founder & CEO, Huddle
                        </h6>
                    </div>
                </div>
            </div>
            <div class="exp-3">
                <div class="exp-3-text">
                    <p>
                        Fylo has improved our team productivity by<br>
                        an order of magnitude. Since making the<br>
                        switch our team has become a well-olled<br>
                        collaboration machine.
                    </p>
                </div>
                <div class="exp-3-avatar">
                    <div>
                        <img src="../../assets/images/profile-3.jpg" alt=""  class="avatar">
                    </div>
                    <div class="avatar-title">
                        <h3>
                            Iva Boyd
                        </h3>
                        <h6>
                            Founder & CEO, Huddle
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        
    </footer>
</div>
